<h1><%= @family.last_name %> Family</h1>

<ul>
    <% @family.roles.each do |role| %>
        <li><%= link_to role.user.first_name, user_path(role.user) %> <%= "(#{role.title})" %></li>
    <% end %>
</ul>

<% if logged_in? %>
    <% if @family.users.include?(current_user) %>
        <%= render partial: 'boards/board', locals: { board: @family.board } %>

    <% else %>
        <%= link_to "Join the #{@family.last_name} Family", new_family_role_path(@family.id) %>
    <% end %>
<% else %>
    <h4><%= link_to "Sign Up", "/users/new" %> or <%= link_to "Sign In", "/signin" %> to join Family!</h4>
<% end %>