<h3>Change First Name</h3>

<%= render partial: 'application/errors', locals: { object: @user } %>

<%= form_for @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>

    <%= f.submit %>
<% end %>