<h1><%= board.header %></h1>

<%= link_to "Edit Header", "/families/#{board.family.id}/boards/#{board.id}/edit" if User.parents_for_this_family(board.family).include?(current_user) %>

<ul>
    <% board.tags.each do |tag| %>
        <li>
        <%= tag.content %><br>
        <%= link_to tag.full_name_of_creator, "/families/#{tag.board.family.id}/users/#{tag.user.id}" %>
        <%= tag.created_at.strftime("posted %e %b %Y at %k:%M") %>
        </li>
        <br>
    <% end %>
</ul>