<h1><%= board.header %></h1>

<%= link_to "Edit Header", "/families/#{family.id}/boards/#{board.id}/edit" if current_user.parent_of_this_family?(family) %>

<ul>
    <% board.tags.each do |tag| %>
        <li>
        <%= tag.content %><br>
        <%= link_to tag.full_name_of_creator, "/families/#{tag.board.family.id}/users/#{tag.user.id}" %>
        <%= tag.created_at.strftime("posted %e %b %Y at %k:%M") %>
        <%= link_to "Edit", "/boards/#{board.id}/tags/#{tag.id}/edit" if current_user == tag.user %>
        </li>
        <br>
    <% end %>
</ul>