<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<%= form_tag "/families/#{@family.id}/roles" do %>
    <% if !!@family.password_digest %>

        <%= label_tag 'password', "Password:" %>
        <%= password_field_tag :password %>
        <br>
    <% end %>

    <%= label_tag "title", "Choose your title:" %>
    <%= select_tag "title", raw("<option>Mom</option><option>Dad</option><option>Eldest</option><option selected='selected'>Middle</option><option>Youngest</option>") %>
    <br>

    <%= submit_tag "Join Family" %>
<% end %>