<!DOCTYPE html>
<html>
  <head>
    <title>FamilyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag 'familytime-logo.png', id: 'logo' %>
    <h1>Family Time</h1>
    
    <div id="container">
      <div id="nav">
        <span><a href="/">Home</a></span>
        <span><a href="/families">Families</a></span>
        <span><a href="/users">People</a></span>

        <% if logged_in? %>
          <span><%= link_to "Your Profile", user_path(current_user) %></span>
          <span>Logged in as <%= current_user.first_name %>, 
          <%= link_to "Sign Out", '/signout', method: :post %></span>
        <% else %>
          <span><%= link_to "Sign In", '/signin' %></span>
          <span><%= link_to "Sign Up", '/users/new' %></span>
        <% end %>
      </div>

      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
